$colorBase: #355C7D;
$headerButtonColor: #C06C84; 
$searchBackground: #C06C84;
$searchBoxTextColor: black;
$searchItemBackground: #6c5b7b;
$searchNameTextColor: #000000;

$searchAreaWidth: 80%;
$searchItemWidth: 100%;

