<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">
    <title>Anton Helenius Website</title>

    <script src="/scripts/script.js"></script>
    <script src="/scripts/hamburger.js"></script>
    
    <link rel="icon" href="https://uploads.marksism.space/image/D4D113C45F679A2B88DE5F424651120A3F78E383C970A79969208E1C626DCA8A.jpg">

    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/index.css">
</head>

<body onload="changeContent()">
    <header>
        <a href=""><img src="images/icon.svg" id="headerImg" alt="icon"></a>

        <div id="mobMenu" onclick="expandHamburger(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div id="navButtons">
            <a href="">Cool Menu</a>
        </div>
    </header>
    <div class="headerSpacer"></div>
    
    <div id="main">
        <div id="searchArea">
            <input id="searchbox" type="search" placeholder="Search" oninput='changeContent()'>
           
            <div id="searchResult">
                
            </div>
        </div>
    </div>
</body>

</html>